<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
$END$
<table>
    <tr>
        <th>ID</th>
        <th>username</th>
    </tr>
    <tr th:each="user:${listUser}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
    </tr>
</table>
<script >
    $.ajax({
        url: "http://localhost:8080/user/list",
        contentType: 'application/json; charset=utf-8',
        method: 'GET',
        success: function (data) {
            printItemsData(data)
        },
        error: function () {
        }
    });
</script>
</body>
</html>