<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<h1>User Login</h1>
<form action="#" th:action="@{/dologin}" th:object="${user}" method="post">
    <table border="0">
        <tr>
            <td><label>Username</label></td>
            <td><input type="text" id="username" name="username"
                       th:value="${cookieValue.value}"/></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
    </table>
    <input type="submit" value="Login"/>
</form>
<br>
<span th:text="${message}"></span>
<span th:text="${user.username}"></span>
</body>
</html>